@import url("https://fonts.googleapis.com/css2?family=Sarala&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  .text-edge-outline {
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.3);
  }
}
:root {
  --background: white;
  --foreground: black;
  transition: all 0.5s ease;
}

[data-theme="dark"] {
  --background: black;
  --foreground: white;
}
.dark {
  background-color: #121212;
}
